In [56]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.preprocessing import PolynomialFeatures

In [49]:
df = pd.read_csv("sample_data/Real estate.csv")
df = df.iloc[:,2:]
df.head()

,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,32.0,84.87882,10,24.98298,121.54024,37.9
1,19.5,306.59470,9,24.98034,121.53951,42.2
2,13.3,561.98450,5,24.98746,121.54391,47.3
3,13.3,561.98450,5,24.98746,121.54391,54.8
4,5.0,390.56840,5,24.97937,121.54245,43.1

In [50]:
data_X = df.iloc[:,0:4]
data_X

,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude
0,32.0,84.87882,10,24.98298
1,19.5,306.59470,9,24.98034
2,13.3,561.98450,5,24.98746
3,13.3,561.98450,5,24.98746
4,5.0,390.56840,5,24.97937
...,...,...,...,...
409,13.7,4082.01500,0,24.94155
410,5.6,90.45606,9,24.97433
411,18.8,390.96960,7,24.97923
412,8.1,104.81010,5,24.96674
413,6.5,90.45606,9,24.97433

In [51]:
data_Y = df.iloc[:,5:]
data_Y

     Y house price of unit area
0                          37.9
1                          42.2
2                          47.3
3                          54.8
4                          43.1
..                          ...
409                        15.4
410                        50.0
411                        40.6
412                        52.5
413                        63.9

[414 rows x 1 columns]

In [62]:
# Split data train and test
X_train,X_test,y_train,y_test = train_test_split(data_X,data_Y, test_size=0.2)

In [63]:
# Train Model Multiple Linear Regression
model = LinearRegression()
model.fit(X_train,y_train)

prediction = model.predict(X_test)
print(f'r2 : {r2_score(y_test,prediction)}')

r2 : 0.5507730373899071